

/*Navbar Responsive*/
@media (max-width: 850px) {
    .nav_items {
      display: none;
    }
  
    .hemburger {
      display: flex;
    }
  
    .nav_items a {
      display: block;
      margin-right: 0;
      text-align: center;
    }
  
    .nav_items.active {
      background-color: rgb(32, 32, 32);
      display: block;
      position: absolute;
      top: 60px;
      width: 100%;
      opacity: 2px;
    }

  }